.contenido2 {
    view-timeline-name: --text;
    view-timeline-axis: block;
    animation-timeline: --text;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

@media screen and (max-width: 768px) {
    .contenido1 {
        padding: 10px;
    }
}

.contenido2 h2 {
    transition: transform 1s ease, font-size 1s ease;
    background: linear-gradient(45deg, transparent, transparent);
    background-image: linear-gradient(105deg, #1ed8eb, #5878d9);
    text-shadow: none;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contenido2 h3 {
    background: linear-gradient(45deg, transparent, transparent);
    background-image: linear-gradient(105deg, #1ed8eb, #5878d9);
    text-shadow: none;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contenido2 p {
    transition: transform 2s ease, font-size 2s ease;
    color: white;
}

.contenido2:hover h2 {
    transform: translateX(0px);
    font-size: 2.5em;
    animation: 1s all ease-in-out;
    font-weight: 600;
}

.hoverContentExplorer {
    margin: 20px auto;
}

.imageTable {
    filter: drop-shadow(0 2px 50px #1bafc7) 
}