.content-starts {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: radial-gradient(ellipse at bottom, #0a235b 0%, #0c0d13 100%); */
    overflow: hidden;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    z-index: 99;
  }
  
  .star {
    --star-color: var(--color-stars);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 7.16em;
    --top-offset: 16.96vh;
    --fall-duration: 9.385s;
    --fall-delay: 6.942s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.23em;
    --top-offset: 76.42vh;
    --fall-duration: 9.122s;
    --fall-delay: 8.592s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.97em;
    --top-offset: 40.13vh;
    --fall-duration: 10.966s;
    --fall-delay: 3.644s;
  }
  .star:nth-child(4) {
    --star-tail-length: 5.79em;
    --top-offset: 38.86vh;
    --fall-duration: 10.969s;
    --fall-delay: 4.426s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.34em;
    --top-offset: 21.19vh;
    --fall-duration: 8.006s;
    --fall-delay: 0.446s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.03em;
    --top-offset: 44.69vh;
    --fall-duration: 9.602s;
    --fall-delay: 3.011s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.97em;
    --top-offset: 77.01vh;
    --fall-duration: 8.93s;
    --fall-delay: 1.759s;
  }
  .star:nth-child(8) {
    --star-tail-length: 6.68em;
    --top-offset: 9.35vh;
    --fall-duration: 10.795s;
    --fall-delay: 2.31s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.29em;
    --top-offset: 80.44vh;
    --fall-duration: 11.236s;
    --fall-delay: 5.037s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.52em;
    --top-offset: 20.96vh;
    --fall-duration: 11.092s;
    --fall-delay: 2.856s;
  }
  .star:nth-child(11) {
    --star-tail-length: 5.84em;
    --top-offset: 22.81vh;
    --fall-duration: 6.674s;
    --fall-delay: 3.736s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.56em;
    --top-offset: 69.29vh;
    --fall-duration: 9.666s;
    --fall-delay: 8.703s;
  }
  .star:nth-child(13) {
    --star-tail-length: 5.48em;
    --top-offset: 33.47vh;
    --fall-duration: 8.072s;
    --fall-delay: 9.985s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.99em;
    --top-offset: 44.21vh;
    --fall-duration: 10.91s;
    --fall-delay: 0.373s;
  }
  .star:nth-child(15) {
    --star-tail-length: 7.31em;
    --top-offset: 33.01vh;
    --fall-duration: 8.569s;
    --fall-delay: 2.72s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.57em;
    --top-offset: 9.12vh;
    --fall-duration: 11.695s;
    --fall-delay: 9.93s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.43em;
    --top-offset: 9.63vh;
    --fall-duration: 11.39s;
    --fall-delay: 1.564s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.41em;
    --top-offset: 20.4vh;
    --fall-duration: 6.435s;
    --fall-delay: 5.879s;
  }
  .star:nth-child(19) {
    --star-tail-length: 5.89em;
    --top-offset: 62.81vh;
    --fall-duration: 7.061s;
    --fall-delay: 2.512s;
  }
  .star:nth-child(20) {
    --star-tail-length: 7.03em;
    --top-offset: 28.79vh;
    --fall-duration: 7.103s;
    --fall-delay: 5.052s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.86em;
    --top-offset: 17.56vh;
    --fall-duration: 7.367s;
    --fall-delay: 0.376s;
  }
  .star:nth-child(22) {
    --star-tail-length: 6.47em;
    --top-offset: 74.44vh;
    --fall-duration: 8.039s;
    --fall-delay: 3.368s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.1em;
    --top-offset: 66.67vh;
    --fall-duration: 6.033s;
    --fall-delay: 2.446s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.41em;
    --top-offset: 2.88vh;
    --fall-duration: 9.926s;
    --fall-delay: 0.987s;
  }
  .star:nth-child(25) {
    --star-tail-length: 7.47em;
    --top-offset: 52.1vh;
    --fall-duration: 10.024s;
    --fall-delay: 9.591s;
  }
  .star:nth-child(26) {
    --star-tail-length: 6.06em;
    --top-offset: 64.54vh;
    --fall-duration: 7.319s;
    --fall-delay: 3.492s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.17em;
    --top-offset: 98.36vh;
    --fall-duration: 6.022s;
    --fall-delay: 4.446s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.19em;
    --top-offset: 17.97vh;
    --fall-duration: 10.001s;
    --fall-delay: 6.768s;
  }
  .star:nth-child(29) {
    --star-tail-length: 5.75em;
    --top-offset: 90.71vh;
    --fall-duration: 8.625s;
    --fall-delay: 0.342s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.68em;
    --top-offset: 84.08vh;
    --fall-duration: 10.209s;
    --fall-delay: 6.445s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.13em;
    --top-offset: 12.93vh;
    --fall-duration: 11.689s;
    --fall-delay: 1.058s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.39em;
    --top-offset: 16.35vh;
    --fall-duration: 9.137s;
    --fall-delay: 5.031s;
  }
  .star:nth-child(33) {
    --star-tail-length: 6.86em;
    --top-offset: 8.34vh;
    --fall-duration: 6.62s;
    --fall-delay: 2.587s;
  }
  .star:nth-child(34) {
    --star-tail-length: 7.19em;
    --top-offset: 78.08vh;
    --fall-duration: 9.26s;
    --fall-delay: 1.258s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.12em;
    --top-offset: 27.78vh;
    --fall-duration: 10.349s;
    --fall-delay: 9.208s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.51em;
    --top-offset: 49.69vh;
    --fall-duration: 9.228s;
    --fall-delay: 1.469s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.71em;
    --top-offset: 20.08vh;
    --fall-duration: 10.986s;
    --fall-delay: 9.055s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.15em;
    --top-offset: 40.75vh;
    --fall-duration: 11.582s;
    --fall-delay: 9.946s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.5em;
    --top-offset: 95.66vh;
    --fall-duration: 10.725s;
    --fall-delay: 3.244s;
  }
  .star:nth-child(40) {
    --star-tail-length: 6.3em;
    --top-offset: 33.17vh;
    --fall-duration: 10.705s;
    --fall-delay: 5.919s;
  }
  .star:nth-child(41) {
    --star-tail-length: 7.48em;
    --top-offset: 66.66vh;
    --fall-duration: 7.146s;
    --fall-delay: 6.463s;
  }
  .star:nth-child(42) {
    --star-tail-length: 5.82em;
    --top-offset: 61.21vh;
    --fall-duration: 7.761s;
    --fall-delay: 4.283s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.46em;
    --top-offset: 48.71vh;
    --fall-duration: 6.631s;
    --fall-delay: 0.87s;
  }
  .star:nth-child(44) {
    --star-tail-length: 7.42em;
    --top-offset: 1.52vh;
    --fall-duration: 6.401s;
    --fall-delay: 4.233s;
  }
  .star:nth-child(45) {
    --star-tail-length: 5.38em;
    --top-offset: 4.56vh;
    --fall-duration: 6.397s;
    --fall-delay: 8.429s;
  }
  .star:nth-child(46) {
    --star-tail-length: 5.55em;
    --top-offset: 26.15vh;
    --fall-duration: 7.024s;
    --fall-delay: 6.999s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.24em;
    --top-offset: 94.21vh;
    --fall-duration: 7.692s;
    --fall-delay: 2.675s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.92em;
    --top-offset: 32.71vh;
    --fall-duration: 9.423s;
    --fall-delay: 0.869s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.99em;
    --top-offset: 64.63vh;
    --fall-duration: 10.906s;
    --fall-delay: 1.54s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.81em;
    --top-offset: 76.18vh;
    --fall-duration: 6.199s;
    --fall-delay: 1.347s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 500ms linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    10%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }